.header {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: lightblue;
}
.left-section {
    justify-content: end;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.latest-review-card {
    background-color: lightgreen;
    width: 600px;
    height: 700px;
    margin-left: 250px;
    
}
.past-content-card {
    background-color: lightblue;
    width: 400px;
}